 
        body{
           background-color:rgb(11, 5, 32);
        }
      @font-face {
        font-family: "DS-Digital Normal";
        font-style: normal;
        font-weight: normal;
        src: local("DS-Digital Normal"), url("DS-DIGI.woff") format("woff");
      }

      .calculator-body {
        height: 350px;
        width: 250px;
        background-color: #0d0d1d;
        margin: 20px auto;
        border-radius: 10px;
        padding: 20px;
        padding-top: 40px;
      }

      .screen {
        background-color: #4a4b46;
        text-align: right;
        width: 220px;
        display: block;
        margin: 0 auto;
        font-size: 25px;
        padding: 5px 10px;
        margin-bottom: 20px;
        font-family: "DS-Digital Normal";
      }

      .buttons-container {
        height: 200px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }

      .btn {
        width: 50px;
        /* height: 40px; */
        text-align: center;
        padding: 2px 0;
        font-size: 20px;
        margin: 3px;
        border: 0.5px solid black;
        border-radius: 5px;
        cursor: pointer;
      }

      .btn:hover {
        box-shadow: 0 0 5px 0ffff;
        transition: 0.5s;
      }

      .btn-equals {
        background-color: #080808;
        height: 70px;
        color: #fff;
      }
    